

/*nav.php*/
a:hover{
    background-color: #DDE6ED;
    border-radius: 5px;
}

.navbar-nav li a{
    padding: 10px 15px;
}

.pac-container {
    z-index: 1060 !important;
}

.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}